<div class="content">
   <div class="head">
            <img src="./assets/img/logo.png" alt="" class="src">
            <h1>
                Pioneer Book Company Private Limited
            </h1>
    </div>
    <div class="body">
        <div class="magpage"> 
            <div class="title title--big">
                12 Issues ₹399 + Get ₹500 Gift coupon
                <div class="title-underline"></div>
            </div>
            <img src="./assets/img/banner.jpeg" alt="" width="404.875" height="404.875">
            <p><br></p>
            <p>✅ India's Largest Read and Most Popular Women's Magazine</p>
            <h4>✅ 1 Years (12 Issues) Subscription of Digital Edition of meri sahep magazine</h4>
            <h4>✅Gift Coupon worth ₹ 500</h4>
            <h3>✅ ₹ 49 off on HDFC BANK Credit and Debit cards</h3>
            <div class="support-details">
                <label>Contact Us:</label>
                <div class="sub-detail">
                    <a href="mailto:appsaheli@pbcindia.com?subject=Query for Payment Page Id: pl_KDkNN3WGnHilYP" target="_blank" rel="noopener noreferrer">
                        <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                        <div>appsaheli@pbcindia.com</div>
                    </a>
                </div>
                <div class="sub-detail">
                    <a href="tel:8976802882">
                        <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"></path>
                        </svg>
                        <div>8976802882</div>
                    </a>
                </div>
            </div>
            <div>
                <br>
            </div>
            <div class="terms-details"><label>Terms &amp; Conditions:</label>
                <div class="details-value text-wrap">
                    <span>1. The terms of sale governs the sale and subscription of digital edition of our magazine “Meri Saheli”.</span>
                
                    <span> 2. The subscription offer is currently available only for people living in India.</span>
                
                    <span>3. We support an array of payment methods. you can choose to pay using credit cards, debit cards, net banking, paypal.</span>
                
                    <span>4. SUBSCRIPTION <br>
                        Auto-Renewal Subscription: Unless you opt-out of auto-renewal or cancel your subscription, which can be done through your account settings, MERI SAHELI subscription will be automatically extended for successive renewal periods of one year at the then-current non-promotional rate. You can view the date of your next scheduled payment by visiting our website and clicking on the “My Account” link. You will not receive a notice from us that your promotional period has ended or that your subscription has auto-renewed.</span>
                
                    <span>5. If the offer overlaps with other existing offers, the maximum of the offer is applicable.</span>
                    <span> 6. Pioneer book co. pvt. ltd., has the right to amend the terms and conditions, end the offer, or call back any or all its offers without prior notice.</span>
                    <div class="terms-details tnc"> <span>You agree to share information entered on this page with Pioneer Book Company Private Limited (owner of this page) and Razorpay, adhering to applicable laws.</span></div>
                </div>
            </div>
        </div>
        <form #paymentform="ngForm">
            <h1>payment details</h1>
            <div class="title-underline"></div>
            <div class="form-entries">
                <div class="amount-div">
                    <label for="formamount">amount</label>
                    <input type="text" value="₹399.00" readonly name="formamount">
                </div>
                <div class="name-div">
                    <label for="formname">name</label>
                    <div class="input">
                        <input type="text" [required]="true" 
                        [(ngModel)]="paymentform.formname" name="formname"> 
                        <div *ngIf="paymentform.formname.invalid && (paymentform.formname.dirty || paymentform.formname.touched)"
                                class="alert">
                            <div *ngIf="formname.errors?.['required']">
                                Name is required.
                            </div>
                            <div *ngIf="formname.errors?.['minlength']">
                                Name must be at least 4 characters long.
                            </div>
                        </div>
                        <p>apply HDFC offer on next page</p> 
                    </div>    
                </div>
                <div class="phone-div">
                    <label for="formphone">phone</label>
                    <input type="text" [required]="true" [(ngModel)]="paymentform.formphone" name="formphone">
                </div>
                <div class="email-div">
                    <label for="formemail">email</label>
                    <input type="text" [required]="true" [(ngModel)]="paymentform.formemail" name="formemail">
                </div>
            </div>
            <div class="form-foot">
                <img src="./assets/img/pay-methods-logo.png" alt="payment-img">
                <button type="button" class="btn btn-primary">Pay ₹399.00</button>
            </div>    
        </form>
    </div>
</div>