*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    -webkit-font-smoothing: antialiased;
    width: 100vw;
    margin: auto;
    display: flex;
    height: auto;
    align-items: center;
    max-width: 100%;
    flex-direction: column;
    border-left: 8px solid rgb(35,113,236);
    font-family: "Muli", "Lato", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.head{
    width: 80%;
    max-width: calc(50% + 380px);
    display: flex;
    flex-direction: row;
    left: 0;
    text-align: left;
    padding: 24px 0;
    margin: 20px 0;
    color: #0d2366;
}
.head img{
    width: 60px;
    height: 60px;
    text-align: center;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 18%);
    background: #fff;
    padding: 8px;
}
.head h1{
    font-weight: 500;
    line-height: 28px;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 16px;
    font-size: 18px;
}
.content .body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: calc(50% + 380px);
}
.content .body .magpage{
    margin-right: 50px;
    width: 404.875px;
}
.content .body .magpage .title--big{
    font-size: 24px;
    line-height: 32px;
    position: relative;
    color: #0d2366;
    overflow-wrap: break-word;
    font-weight: bold;
}

.content .body .magpage .title-underline{
    border-bottom: 5px solid rgb(35,113,236);;
    width: 28px;
    margin: 20px 0;
}
.content .body .magpage img{
    display: block;
    margin: 8px 0;
    max-width: 100%;
}
.content .body .magpage p,h3,h4{
    color: rgb(88, 102, 110);
    font-family: inherit;
    font-weight: 500;
    line-height: 22px;
    margin: 6px 0;
}
.content .body .magpage .support-details{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    color: #0d2366;
}
.content .body .magpage .support-details label{
    font-weight: 500;
}
.content .body .magpage .support-details a{
    display: inline-flex;
    flex-direction: row;
    text-decoration: none;
    color: #0d2366;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    /* display: inline-block; */
    padding: 5px 0;
}
.content .body .magpage .support-details .sub-detail svg{
    margin-right: 10px;
    fill: #0d2366;
}
.content .body .magpage .terms-details {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #0d2366;
    margin-bottom: 8px;
}
.content .body .magpage .terms-details span{
    color: rgb(88, 102, 110)!important;
    margin: 10px 0 20px 0;
    font-weight: 400;
    display: block;
}
form{
    width: 480px;
    border: 1px solid #e2e2e2;;
    /* padding: 20px 20px 0px 20px; */
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 15px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 18%);
    background: #fff;
}
form h1{
    padding: 0;
    margin: 30px 30px 0 30px;
    text-transform: capitalize;
    color: #0d2366;
    font-weight: 500;
    line-height: 28px;
    font-size: 18px;
}
form .title-underline{
    border-bottom: 5px solid rgb(35,113,236);
    width: 28px;
    margin: 20px 30px;
}
form .form-foot{
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 56px;
    align-items: center;
    background-color: #f5f6f7;
}
form .form-foot img{
    width: 180px;
    padding-left: 30px;
    height: 10px;
}

form .form-foot button{
    position: relative;
    width: 180px;
    min-height: 56px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    float: right;
    border-radius: 0;
    text-align: center;
    border: none;
    padding: 10px 16px;
    background-color: rgb(35,113,236);
    color: #fff !important;
}
form input{
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    overflow: hidden;
    font-size: 15px;
    padding: 8px;
    letter-spacing: .5px;
    width: 220px;
}
form .amount-div input{
    border: 1px solid powderblue;
    cursor: not-allowed;
}
form .amount-div input:focus{
    outline: none;
}
form .name-div input:focus,.phone-div input:focus,.email-div input:focus{
    outline: none;
    border: 1px solid rgb(105, 152, 205);
}
form .form-entries{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 30px;
    height: 100%;
    position: relative;
    float: left;
    font-size: 14px;
    line-height: 20px;
    color: #515978;
    /* word-break: break-word; */
}
form .form-entries div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-bottom: 40px; */
    align-items: flex-start;
}
form .form-entries .name-div{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}
form .form-entries .name-div .input{
    display: flex;
    flex-direction: column;
}
form .form-entries .name-div p{
    font-size: 12px;
    margin: 4px 0;
    line-height: 16px;
}
.form-entries .alert{
    border-color: rgb(247, 108, 108);
}